[user]
	name = Sky Faber
	email = sky.faber@gmail.com
[color]
	ui = auto
[advice]
	pushNonFastForward = false
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = /home/skyf/.gitignore
[diff]
	renames = copies
	mnemonicprefix = true
[branch]
	autosetupmerge = true
[push]
	default = tracking
[rerere]
	enabled = true
[merge]
	stat = true
[http]
	sslverify = true
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
