*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.MakeMKV/
.ssh/
.speech-dispatcher
.sudo_as_admin_successful
.tsclient
.thumbnails
.vnc
.Xauthority
.xemacs
.xsession-errors
.xsession-errors.old
.adobe
.bash_history
.bash_logout
.cache
.compiz
.config
.dbus
.dmrc
.ecryptfs
.esd_auth
.fontconfig
.gconf
.gconfd
.gem
.git
.gksu.lock
.gnome2
.gnome2_private
.gnupg
.gstreamer-0.10
.gtk-bookmarks
.gvfs
.ICEauthority
.libreoffice
.links2
.local
.macromedia
.mission-control
.mozilla
.nautilus
.pki
.Private
.pulse
.pulse-cookie
.rvm
.sage
.sok
.compiz-1/
.hplip/
.ido.last
Downloads/
Documents/
Desktop/
examples.desktop
Music/
Pictures/
Public/
repos/
Templates/
Ubuntu\ One/
Code/
Videos/
.profile
.boxee/
.ido.last
.mythtv
.pry_history
.smb/
.xprofile
.gegl-0.0/
.gimp-2.6/
.irb-history
.matlab/
Installs/
R/
.designer/
.icedtea/
.indicator-sysmonitor.json
.lesshst
.minecraft/
matlab*
